@page "/browse"
@using gamelibrary.Models
@using Microsoft.AspNetCore.Components.Authorization
@using gamelibrary.Services
@using System.Net.Http
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject HttpClient Http
@inject IGamesServices GameServices

@code {
    private List<Game> Games;

    [Parameter]
    public string GameName { get; set; }

    protected async Task GetGamesBySearch()
    {
        // The property DataRepository received an implementation
        // of IGameServices through dependency injection. Use
        // GameServices to obtain data from the server.
        Games = await GameServices.GetGamesBasedOnSearch(GameName);
    }
}

<!-- Search Bar -->
<div class="container-fluid">
    <center>
        &nbsp; 
        <h1>Find Games</h1>
    </center>
    <div class="form-inline justify-content-center"> <!-- TODO: Search when user presses ENTER button -->
        <input type="text" @bind-value="@GameName" @bind-value:event="onchange" name="game" class="form-control mr-sm-2 col-md-3" placeholder="Search by title..." aria-label="Search" />
        <button class="btn btn-outline-info my-2 my-sm-0" type="button" @onclick="GetGamesBySearch">Search</button>
    </div>
</div>
<!-- End Search Bar -->


<!-- Start Browse Logic -->
@if (Games == null)
{
    <center>
        <br><br>
        <p><h5>Search for games to add to your library...</h5></p>
        <br>
    </center>
}
else
{
    <h4>&nbsp; Search Results:</h4> <!-- Title for Search -->
    <small>&nbsp;&nbsp; If a game is available on more than one console, you will be prompted to pick which console(s) after clicking 'Mine', 'Love' or 'Want'.</small>
    <br>
    <br>
    <div class="container-fluid">
        <center>
            <div class="row">
                @foreach (var game in Games)
                {
                    DateTime dtDateTime = new DateTime(1970, 1, 1, 0, 0, 0, 0, System.DateTimeKind.Utc);
                    var releaseDate = dtDateTime.AddSeconds(game.first_release_date).ToLocalTime();
                    <div class="col">
                        <div class="thumbnail">
                            <a href="@game.url" target="_blank"><img src="@game.cover.LargeImageUrl()" alt="View on IGDB"></a>
                            <div class="caption">
                                <h5>@game.name (@releaseDate.ToString("yyyy"))</h5>
                                <a href="#" class="btn btn-sm btn-outline-warning" data-toggle="modal" data-target="#mine#@game.id"><i class="fas fa-star"></i> Mine</a>
                                <a href="#" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#love#@game.id"><i class="fas fa-heart"></i> Love</a>
                                <a href="#" class="btn btn-sm btn-outline-info" data-toggle="modal" data-target="#want#@game.id"><i class="fas fa-gift"></i> Want</a>
                                <h6>0 collectors have this game.</h6>
                            </div>
                        </div>
                    </div>





                    <!-- Modal for Mine -->
                    <div class="modal fade" id="mine#@game.id" tabindex="-1" role="dialog" aria-labelledby="mine" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Add @game.name to Collection <i class="fas fa-star text-warning"></i></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Which console(s) would you like to add @game.name for?<br></p>
                                    @foreach (var platform in game.platforms)
                                    {
                                        <ul class="list-group">
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                @platform.name
                                                <input type="checkbox">
                                            </li>
                                        </ul>
                                    }
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <!-- TODO: Add an if statement, so that if they only have one collection do not show them the drop-up menu -->




                                    <div class="btn-group dropup">

                                        <AuthorizeView>
                                            <Authorized>
                                                <button type="button" class="btn btn-info disabled" data-placement="top" title="You must be logged in to collect games">
                                                    Save
                                                </button>
                                            </Authorized>
                                            <NotAuthorized>
                                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Save
                                                </button>
                                            </NotAuthorized>
                                        </AuthorizeView>

                                        <div class="dropdown-menu">
                                            &nbsp; &nbsp; Select a collection to save to...
                                            <div class="dropdown-divider"></div>
                                            <form asp-action="AddGame" asp-controller="Collect" method="post" id="#addGame">
                                                <input type="hidden" asp-for="GameId" value="@game.id" />
                                                <input type="hidden" asp-for="Shared" value="N" />
                                                <input type="hidden" asp-for="GameName" value="@game.name" />
                                                <input type="hidden" asp-for="ReleaseDate" value="@game.first_release_date" />
                                                <input type="hidden" asp-for="CoverURL" value="@game.cover.url" />
                                                @foreach (var platform in game.platforms)
                                                {
                                                    <input type="hidden" asp-for="PlatformID" value="@platform.id" />
                                                    <input type="hidden" asp-for="PlatformName" value="@platform.name" />

                                                }
                                                <input type="hidden" asp-for="Rating" value="@game.rating" />
                                                <input type="hidden" asp-for="UserId" value="0" /> <!-- Def need to change this later -->
                                                <button type="submit" class="dropdown-item btn btn-block">Default</button>
                                            </form>
                                            <a class="dropdown-item" href="#">Prized Collection <small>(Shared with LuWuXP)</small></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


























                    <!-- Modal for Love -->
                    <div class="modal fade" id="love#@game.id" tabindex="-1" role="dialog" aria-labelledby="mine" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Add @game.name to Favorites <i class="fas fa-heart text-danger"></i></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Which console(s) would you like to favorite @game.name for?<br></p>
                                    @foreach (var platform in game.platforms)
                                    {
                                        <ul class="list-group">
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                @platform.name
                                                <input type="checkbox">
                                            </li>
                                        </ul>
                                    }
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-info">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal for Love -->
                    <div class="modal fade" id="want#@game.id" tabindex="-1" role="dialog" aria-labelledby="mine" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Add @game.name to Wish List <i class="fas fa-gift text-primary"></i></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Which console(s) would you like to Wish List @game.name for?<br></p>
                                    @foreach (var platform in game.platforms)
                                    {
                                        <ul class="list-group">
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                @platform.name
                                                <input type="checkbox">
                                            </li>
                                        </ul>
                                    }
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-info">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Modals -->
                }
            </div>
        </center>
    </div>
    <!-- End Browse Logic -->
}